<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.fintecher.pangolin.report.mapper.AdminPageMapper">

    <!--获取部门下所有用户-->
    <select id="getAllUserOnDepartment" parameterType="string" resultType="cn.fintecher.pangolin.entity.User">
        SELECT `user`.* FROM `user`
        LEFT JOIN department ON `user`.dept_id = department.id
        WHERE department.`code` LIKE concat(#{deptCode},'%')
        AND `user`.`status` = 0
    </select>

    <select id="getAllUserOnCompany" parameterType="string" resultType="cn.fintecher.pangolin.entity.User">
        SELECT `user`.* FROM `user` WHERE `user`.`company_code` = #{companyCode}
    </select>

    <!--部门下案件总金额-->
    <select id="getCaseSumAmt" parameterType="string" resultType="java.math.BigDecimal">
        SELECT SUM(case_info.overdue_amount) AS amt
        FROM case_info
        LEFT JOIN department ON case_info.depart_id = department.id
        WHERE department.`code` LIKE concat(#{deptCode},'%')
    </select>

    <!--部门下案件已还款总额-->
    <select id="getRepaySumAmt" parameterType="string" resultType="java.math.BigDecimal">
        SELECT SUM(case_pay_apply.apply_pay_amt) AS amt
        FROM case_pay_apply
        LEFT JOIN department ON case_pay_apply.depart_id = department.id
        WHERE department.`code` LIKE concat(#{deptCode},'%')
        AND (case_pay_apply.approve_result = 62 OR case_pay_apply.approve_status =58)
    </select>

    <!--部门下客户总数-->
    <select id="getCustNum" parameterType="string" resultType="integer">
        SELECT COUNT(DISTINCT(personal_id)) FROM case_info
        LEFT JOIN department ON case_info.depart_id = department.id
        WHERE department.`code` LIKE concat(#{deptCode},'%')
    </select>

    <!--部门下客户在案总数-->
    <select id="getCustNumIN" parameterType="string" resultType="integer">
        SELECT COUNT(DISTINCT(personal_id)) FROM case_info
        LEFT JOIN department ON case_info.depart_id = department.id
        WHERE department.`code` LIKE concat(#{deptCode},'%')
        AND case_info.collection_status NOT IN (24,166)
    </select>

    <!--周回款统计-->
    <select id="getWeekRepaySumAmt" parameterType="string" resultType="cn.fintecher.pangolin.report.model.WeekCountResult">
        SELECT SUM(apply_pay_amt) AS amount,WEEKDAY(approve_pay_datetime) AS dayOfWeek FROM case_pay_apply
        LEFT JOIN department
        ON case_pay_apply.depart_id = department.id
        WHERE department.`code` LIKE concat(#{deptCode},'%')
        AND YEARWEEK(DATE_FORMAT(approve_pay_datetime,'%Y-%m-%d'),1) = YEARWEEK(now(),1)
        GROUP BY WEEKDAY(approve_pay_datetime)
        ORDER BY dayOfWeek
    </select>

    <!--周催计数-->
    <select id="getWeekFollCount" parameterType="string" resultType="cn.fintecher.pangolin.report.model.WeekCountResult">
        SELECT COUNT(*) AS num,WEEKDAY(record.operator_time) AS dayOfWeek
        FROM case_followup_record AS record
        LEFT JOIN `user`
        ON record.operator = `user`.user_name
        LEFT JOIN department
        ON `user`.dept_id = department.id
        WHERE department.`code` LIKE concat(#{deptCode},'%')
        AND YEARWEEK(DATE_FORMAT(record.operator_time,'%Y-%m-%d'),1) = YEARWEEK(now(),1)
        GROUP BY WEEKDAY(record.operator_time)
        ORDER BY dayOfWeek
    </select>

    <!--周结案数-->
    <select id="getWeekCaseEndCount" parameterType="string" resultType="cn.fintecher.pangolin.report.model.WeekCountResult">
        SELECT SUM(m.num) AS num,m.operator_time AS dayOfWeek FROM (
        SELECT COUNT(*) AS num,WEEKDAY(operator_time) AS operator_time FROM case_info
        LEFT JOIN department
        ON case_info.depart_id = department.id
        WHERE department.`code` LIKE concat(#{deptCode},'%')
        AND case_info.collection_status = 24
        AND YEARWEEK(DATE_FORMAT(operator_time,'%Y-%m-%d'),1) = YEARWEEK(now(),1)
        GROUP BY WEEKDAY(operator_time)
        UNION ALL
        SELECT COUNT(*) AS num,WEEKDAY(operator_time) AS operator_time FROM case_info
        LEFT JOIN `user`
        ON `user`.id = case_info.assist_collector
        LEFT JOIN department
        ON `user`.dept_id = department.id
        WHERE department.`code` LIKE concat(#{deptCode},'%')
        AND case_info.collection_status = 24
        AND YEARWEEK(DATE_FORMAT(operator_time,'%Y-%m-%d'),1) = YEARWEEK(now(),1)
        GROUP BY WEEKDAY(operator_time)
        ) AS m
        GROUP BY m.operator_time
        ORDER BY dayOfWeek
    </select>

    <!--催收员排名-->
    <select id="getCupoSort" parameterType="string" resultType="cn.fintecher.pangolin.report.model.PageSortResult">
        SELECT n.userid AS userid,n.realname AS name,n.amt AS amount,m.amt AS payed,m.amt/n.amt AS rate FROM (
            SELECT SUM(apply.apply_pay_amt) AS amt,case_info.current_collector AS current_collector FROM (
                    SELECT case_pay_apply.* FROM case_pay_apply
                    LEFT JOIN department ON case_pay_apply.depart_id = department.id
                    WHERE department.`code` LIKE concat(#{deptCode},'%')
                    AND (case_pay_apply.approve_status = 58 OR case_pay_apply.approve_result = 62)
                    AND year(case_pay_apply.approve_pay_datetime) = year(NOW())
                    AND month(case_pay_apply.approve_pay_datetime) = month(NOW())
            ) AS apply
            LEFT JOIN case_info ON apply.case_id = case_info.id
            GROUP BY case_info.current_collector
            HAVING current_collector IS NOT NULL
            ) AS m
        LEFT JOIN (
            SELECT SUM(a.amt) AS amt, a.userid AS userid, a.realname AS realname FROM (
                SELECT sum(case_info.overdue_amount) AS amt,`user`.id AS userid,`user`.real_name AS realname FROM case_info
                LEFT JOIN `user`
                ON case_info.current_collector = `user`.id
                GROUP BY case_info.current_collector
                HAVING userid IS NOT NULL
                UNION ALL
                SELECT sum(case_info.overdue_amount) AS amt,`user`.id AS userid,`user`.real_name from case_info
                LEFT JOIN `user`
                ON `user`.id = case_info.assist_collector
                GROUP BY case_info.assist_collector
                HAVING userid IS NOT NULL
            ) AS a
            GROUP BY a.userid,a.realname
        ) AS n
        ON m.current_collector = n.userid
        ORDER BY rate DESC
        LIMIT 0,3
    </select>

    <!--客户排名-->
    <select id="getCustSort" parameterType="string" resultType="cn.fintecher.pangolin.report.model.PageSortResult">
        SELECT name,amount,payed,payed/amount as rate FROM (
        SELECT SUM(apply_pay_amt) AS payed,case_pay_apply.personal_name AS name,case_pay_apply.personal_id AS pid FROM case_pay_apply
        LEFT JOIN department
        ON case_pay_apply.depart_id = department.id
        WHERE (case_pay_apply.approve_status = 58 OR case_pay_apply.approve_result =62)
        AND department.`code` LIKE concat(#{deptCode},'%')
        AND DATE_FORMAT(approve_pay_datetime, '%Y%m') = DATE_FORMAT(curdate(),'%Y%m')
        GROUP BY case_pay_apply.personal_id,case_pay_apply.personal_name
        ) AS m
        LEFT JOIN (
        SELECT SUM(overdue_amount) AS amount,personal_id AS pid FROM case_info
        GROUP BY personal_id
        ) AS n
        ON m.pid = n.pid
        ORDER BY rate DESC
        LIMIT 0,3
    </select>
</mapper>