<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.fintecher.pangolin.report.mapper.BackMoneyReportMapper">
    <!-- 查询催收员实时回款报表 -->
    <select id="getRealTimeReport" parameterType="cn.fintecher.pangolin.report.model.GeneralParams"
            resultType="cn.fintecher.pangolin.report.entity.BackMoneyReport">
        SELECT a.userName,a.backMoney,a.realName,a.companyCode from
        (SELECT apply_user_name as userName,apply_real_name as realName,sum(apply_pay_amt+apply_derate_amt) as
        backMoney,company_code as companyCode
        from case_pay_apply where approve_status = 58 and DATE_FORMAT(approve_pay_datetime,'%Y-%m-%d') =
        DATE_FORMAT(NOW(),'%Y-%m-%d')
        GROUP BY userName,realName,companyCode) a LEFT JOIN
        (SELECT n.code as deptCode,m.user_name as userName from department n,user m where n.id = m.dept_id) b on
        a.userName =
        b.userName where deptCode like CONCAT(#{deptCode},'%')
        <if test="code != null">
            AND b.deptCode LIKE CONCAT(#{code}, '%')
        </if>
        <if test="realName != null">
            AND a.realName LIKE CONCAT('%', #{realName}, '%')
        </if>
        AND companyCode = #{companyCode}
    </select>

    <!-- 生成催收员历史回款报表 -->
    <select id="saveHistoryReport" parameterType="Date"
            resultType="cn.fintecher.pangolin.report.entity.BackMoneyReport">
        SELECT apply_user_name as userName,apply_real_name as realName,sum(apply_pay_amt+apply_derate_amt) as backMoney,
        company_code as companyCode from case_pay_apply where approve_status = 58 and DATE_FORMAT(approve_pay_datetime,'%Y-%m-%d') = DATE_FORMAT(#{historyDate},'%Y-%m-%d')
        GROUP BY userName,realName,companyCode
    </select>

    <!-- 查询用户的部门code码和名称 -->
    <select id="getDept" parameterType="String" resultType="cn.fintecher.pangolin.report.model.DeptModel">
        SELECT code,name,case when pid is null THEN 0 ELSE 1 end as flag from department where id = (SELECT dept_id from user where user_name = #{userName})
    </select>

    <!-- 查询用户的父部门code码和名称 -->
    <select id="getParentDept" parameterType="String" resultType="cn.fintecher.pangolin.report.model.DeptModel">
        SELECT code,name from department where id = (SELECT pid from department where id = (SELECT dept_id from user where user_name = #{userName}))
    </select>

    <!-- 查询有案件却没有回款的用户 -->
    <select id="getUserNames" resultType="cn.fintecher.pangolin.report.model.NoBackMoneyModel">
        SELECT a.userName,a.realName,a.companyCode from (SELECT user_name as userName,real_name as realName,company_code
        as companyCode from user where id in
        (SELECT current_collector as userId from case_info where current_collector not in(SELECT id from user where
        user_name in
        (SELECT apply_user_name from case_pay_apply where approve_status = 58)))) a LEFT JOIN
        (SELECT n.code as deptCode,m.user_name as userName from department n,user m where n.id = m.dept_id) b
        on a.userName = b.userName where deptCode like CONCAT(#{deptCode},'_%') AND a.companyCode = #{companyCode}
        <if test="deptCode != null">
            AND b.deptCode LIKE CONCAT(#{code}, '%')
        </if>
        <if test="realName != null">
            AND a.realName LIKE CONCAT('%', #{code}, '%')
        </if>
    </select>

    <!-- 查询回款历史报表 -->
    <select id="getHistoryReport" parameterType="cn.fintecher.pangolin.report.model.GeneralParams"
            resultType="cn.fintecher.pangolin.report.entity.BackMoneyReport">
        SELECT * from back_money_report where dept_code like CONCAT(#{deptCode},'%') and company_code = #{companyCode}
        <if test="startDate != null and endDate != null">
            AND <![CDATA[DATE_FORMAT(back_date,'%Y-%m-%d') >= DATE_FORMAT(#{startDate},'%Y-%m-%d')]]>
            AND <![CDATA[DATE_FORMAT(back_date,'%Y-%m-%d') <= DATE_FORMAT(#{endDate},'%Y-%m-%d')]]>
        </if>
        <if test="code != null">
            AND dept_code LIKE CONCAT(#{code}, '%')
        </if>
        <if test="realName != null">
            AND a.realName LIKE CONCAT('%', #{code}, '%')
        </if>
        order by back_date DESC,dept_code asc
    </select>
</mapper>