<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.fintecher.pangolin.report.mapper.CaseInfoVerMapper">
    <select id="getCaseInfoVerReport" parameterType="cn.fintecher.pangolin.report.model.CaseInfoVerificationParams"
            resultType="cn.fintecher.pangolin.report.model.CaseInfoVerModel">
        select count(a.id) as cityCount,b.area_name as city,sum(a.overdue_amount) as amount
        from case_info_verification a LEFT JOIN area_code b on a.area_id = b.id
        where company_code = #{companyCode}
        <if test="startTime != null">
            AND <![CDATA[DATE_FORMAT(case_follow_in_time,'%Y-%m-%d') >= #{startTime}]]>
        </if>
        <if test="endTime != null">
            AND <![CDATA[DATE_FORMAT(case_follow_in_time,'%Y-%m-%d') <= #{endTime}]]>
        </if>
        <if test="startTime != null and endTime != null">
            AND <![CDATA[DATE_FORMAT(case_follow_in_time,'%Y-%m-%d') >= #{startTime}]]>
            AND <![CDATA[DATE_FORMAT(case_follow_in_time,'%Y-%m-%d') <= #{endTime}]]>
        </if>
        group by b.area_name
        <if test="page != null and size != null">
            limit (#{page}-1)*#{size},#{page}*#{size};
        </if>
        /*select count(a.id) cityCount,b.area_name,sum(a.overdue_amount) amount
        from case_info_verification a LEFT JOIN area_code b on a.area_id = b.id
        GROUP BY b.area_name;*/
    </select>
</mapper>