<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.fintecher.pangolin.report.mapper.DailyProcessReportMapper">
    <!-- 查询催收员每日催收过程实时报表 -->
    <select id="getRealTimeReport" parameterType="cn.fintecher.pangolin.report.model.GeneralParams"
            resultType="cn.fintecher.pangolin.report.entity.DailyProcessReport">
        SELECT
        c.deptCode,c.deptName,c.parentDeptCode,c.parentDeptName,c.userName,c.realName,a.caseNum,a.caseAmt,a.handleNum,a.promiseNum,a.consultNum,a.otherTellNum,a.findNum,
        a.noAnswerNum,b.callNum,b.communicateNum,b.effectiveCallNum,c.companyCode from
        (SELECT current_collector,count(case when collection_status in(20,21,22,23,24) then id end) as caseNum,
        sum(case when collection_status in (20,21,22,23,24) then ((case when overdue_amount is null then 0 else
        overdue_amount end)+(case when early_settle_amt is null then 0 else early_settle_amt end)) else 0 end) as
        caseAmt,
        count(case when DATE_FORMAT(followup_time,'%Y-%m-%d') = DATE_FORMAT(NOW(),'%Y-%m-%d') then id end) as handleNum,
        count(case when followup_back = 90 then id end) as promiseNum,
        count(case when followup_back = 91 then id end) as consultNum,
        count(case when followup_back = 94 then id end) as otherTellNum,
        count(case when followup_back = 95 then id end) as findNum,
        count(case when followup_back = 96 then id end) as noAnswerNum from case_info WHERE current_collector is not
        null group by current_collector) a
        LEFT JOIN
        (SELECT operator,
        count(case when source = 80 then id end) as callNum,
        count(id) as communicateNum,
        count(case when op_url is not null then id end) as effectiveCallNum from case_followup_record where
        DATE_FORMAT(operator_time,'%Y-%m-%d') = DATE_FORMAT(NOW(),'%Y-%m-%d')
        GROUP BY operator) b on a.current_collector = b.operator
        LEFT JOIN
        (SELECT m.id,n.deptCode,n.deptName,o.parentDeptCode,o.parentDeptName,m.companyCode,m.userName,m.realName from
        (SELECT id,dept_id as deptId,company_code as companyCode,
        user_name as userName,real_name as realName from user) m
        LEFT JOIN
        (SELECT id,code as deptCode,`name` as deptName from department) n on m.deptId = n.id
        LEFT JOIN
        (SELECT id,code as parentDeptCode,`name` as parentDeptName from department) o on m.deptId = o.id) c on
        a.current_collector = c.id
        where c.deptCode LIKE CONCAT(#{deptCode}, '%') AND c.companyCode = #{companyCode}
        <if test="code != null">
            AND c.deptCode LIKE CONCAT(#{code},'%')
        </if>
        <if test="realName != null">
            AND c.realName LIKE CONCAT('%',#{realName},'%')
        </if>
    </select>

    <!-- 保存催收员每日催收过程历史报表 -->
    <select id="saveHistoryReport" parameterType="Date"
            resultType="cn.fintecher.pangolin.report.entity.DailyProcessReport">
        SELECT c.deptCode,c.deptName,c.parentDeptCode,c.parentDeptName,a.caseNum,a.caseAmt,a.handleNum,a.promiseNum,a.consultNum,a.otherTellNum,a.findNum,
        a.noAnswerNum,b.callNum,b.communicateNum,b.effectiveCallNum,c.companyCode from
        (SELECT current_collector,count(case when collection_status in(20,21,22,23,24,171,172) then id end) as caseNum,
        sum(case when collection_status in (20,21,22,23,24,171,172) then ((case when overdue_amount is null then 0 else overdue_amount end)+(case when early_settle_amt is null then 0 else early_settle_amt end)) else 0 end) as caseAmt,
        count(case when DATE_FORMAT(followup_time,'%Y-%m-%d') = DATE_FORMAT(#{historyDate},'%Y-%m-%d') then id end) as handleNum,
        count(case when followup_back = 90 then id end) as promiseNum,
        count(case when followup_back = 91 then id end) as consultNum,
        count(case when followup_back = 94 then id end) as otherTellNum,
        count(case when followup_back = 95 then id end) as findNum,
        count(case when followup_back = 96 then id end) as noAnswerNum from case_info WHERE current_collector is not null group by current_collector) a
        LEFT JOIN
        (SELECT operator,
        count(case when source= 80 then id end) as callNum,
        count(id) as communicateNum,
        count(case when op_url is not null then id end) as effectiveCallNum from case_followup_record where DATE_FORMAT(operator_time,'%Y-%m-%d') = DATE_FORMAT(#{historyDate},'%Y-%m-%d')
        GROUP BY operator) b on a.current_collector = b.operator
        LEFT JOIN
        (SELECT m.id,n.deptCode,n.deptName,o.parentDeptCode,o.parentDeptName,m.companyCode from (SELECT id,dept_id as deptId,company_code as companyCode from user) m
        LEFT JOIN
        (SELECT id,code as deptCode,`name` as deptName from department) n on m.deptId = n.id
        LEFT JOIN
        (SELECT id,code as parentDeptCode,`name` as parentDeptName from department) o on m.deptId = o.id) c on a.current_collector = c.id
    </select>

    <!-- 查询催收员每日催收过程历史报表 -->
    <select id="getHistoryReport" parameterType="cn.fintecher.pangolin.report.model.GeneralParams"
            resultType="cn.fintecher.pangolin.report.entity.DailyProcessReport">
        select * from daily_process_report where dept_code LIKE CONCAT(#{deptCode}, '%') AND company_code =
        #{companyCode}
        <if test="startDate != null and endDate != null">
            AND <![CDATA[DATE_FORMAT(now_date,'%Y-%m-%d') >= DATE_FORMAT(#{startDate},'%Y-%m-%d')]]>
            AND <![CDATA[DATE_FORMAT(now_date,'%Y-%m-%d') <= DATE_FORMAT(#{endDate},'%Y-%m-%d')]]>
        </if>
        <if test="code != null">
            AND dept_code LIKE CONCAT(#{code}, '%')
        </if>
        <if test="realName != null">
            AND real_name LIKE concat('%',#{realName},'%')
        </if>
        order by now_date DESC
    </select>
</mapper>