<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.fintecher.pangolin.report.mapper.QueryOutsourcePoolMapper">

    <resultMap id="queryOutsourcePool" type="cn.fintecher.pangolin.report.model.QueryOutsourcePool">
        <result column="outs_name" property="outsName"/>
        <result column="come_outsource_time" property="comeOutsourceTime"/>
        <result column="out_batch" property="batchNumber"/>
        <result column="out_time" property="outsourceTime"/>
        <result column="over_outsource_time" property="overOutsourceTime"/>
        <result column="left_days" property="leftDay"/>
        <result column="total_outsource_count" property="outcaseTotalAmt"/>
        <result column="total_outsource_amt" property="outcaseTotalCount"/>
        <result column="end_outsource_count" property="outcaseClosedCount"/>
        <result column="outsource_count_rate" property="outcaseCountRate"/>
        <result column="end_outsource_amt" property="outcaseClosedAmt"/>
        <result column="outsource_amt_rate" property="outcaseAmtRate"/>
        <result column="company_code" property="companyCode"/>
        <result column="outs_code" property="outsCode"/>
    </resultMap>

    <!-- 委外催收中查询 -->
    <select id="getAllOutSourcePoolModel" parameterType="cn.fintecher.pangolin.report.model.QueryOutsourcePoolParams"
            resultMap="queryOutsourcePool">
        SELECT bb.outs_name,bb.come_outsource_time,bb.out_batch,DATE_FORMAT(bb.out_time,'%Y-%m-%d') as out_time, bb.over_outsource_time,bb.left_days,bb.total_outsource_count,bb.total_outsource_amt,IFNULL(cc.end_outsource_count,0) as end_outsource_count,IFNULL((cc.end_outsource_count/bb.total_outsource_count),0.00) as outsource_count_rate, IFNULL(cc.end_outsource_amt,0.00) as end_outsource_amt ,IFNULL((cc.end_outsource_amt/bb.total_outsource_amt), 0.00) as outsource_amt_rate, bb.company_code, bb.outs_code
        FROM (SELECT aa.outs_code, aa.outs_name,MIN(aa.come_outsource_time) as come_outsource_time, aa.out_batch, MIN(aa.out_time) as out_time,aa.over_outsource_time, aa.left_days, sum(aa.contract_amt) as total_outsource_amt, count(*) as total_outsource_count,aa.company_code
        FROM (SELECT c.outs_name,a.out_time as come_outsource_time,a.out_batch,a.out_time,a.over_outsource_time,TIMESTAMPDIFF(DAY,a.out_time,over_outsource_time) as left_days,a.contract_amt,a.out_status, a.company_code, c.outs_code
        FROM outsource  c
        INNER JOIN outsource_pool a on c.id=a.out_id) aa GROUP BY aa.out_batch, aa.outs_name,aa.left_days,aa.over_outsource_time,aa.company_code, aa.outs_code) as bb LEFT JOIN (SELECT a.out_batch,c.outs_name,count(*) as end_outsource_count,sum(a.contract_amt) as end_outsource_amt
        FROM outsource c
        INNER JOIN outsource_pool a on c.id=a.out_id
        WHERE a.out_status=170 GROUP BY a.out_batch,c.outs_name) as cc on bb.out_batch=cc.out_batch and bb.outs_name=cc.outs_name
        WHERE 1=1
        <if test="companyCode != null">
            AND bb.company_code = #{companyCode}
        </if>
        <if test="batchNumber != null">
            AND cc.out_batch LIKE CONCAT(#{batchNumber}, '%')
        </if>
        <if test="outsName != null">
            AND bb.outs_name = #{outsName}
        </if>
        <if test="outTime != null and overOutsourceTime != null">
            AND <![CDATA[DATE_FORMAT(out_time,'%Y-%m-%d') >= DATE_FORMAT(#{outTime},'%Y-%m-%d')]]>
            AND <![CDATA[DATE_FORMAT(over_outsource_time,'%Y-%m-%d') <= DATE_FORMAT(#{overOutsourceTime},'%Y-%m-%d')]]>
        </if>
        ORDER BY out_batch desc
    </select>


</mapper>