<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.fintecher.pangolin.report.mapper.QueryFollowupMapper">

    <!--获取部门下所有用户-->
    <select id="getExportFollowModel" parameterType="java.util.List"  resultType="cn.fintecher.pangolin.report.model.ExportFollowupParams">
    SELECT a.case_number AS casenum,b.batch_number AS batchNum,e.`name` AS principalName,a.operator_time AS followTime,a.type AS followType,c.`name` AS personName,c.id_card AS idCard,a.target AS target,a.target_name AS targetName,a.contact_phone AS contactPhone,a.detail AS detail,a.collection_location AS collectionLocation,a.collection_feedback AS collectionFeedback,a.content AS content,c.number AS personNumber,f.account_number AS accountNumber,b.hand_number AS handNumber
     FROM (
        SELECT
            *
        FROM
        case_followup_record
             WHERE case_number IN
            <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
             AND collection_way != 0
            <if test="company != null and company != ''">
                AND company_code = #{company}
            </if>
            ) AS a
            LEFT JOIN case_info b ON a.case_number = b.case_number
            LEFT JOIN personal c ON b.personal_id = c.id
            LEFT JOIN product d ON b.product_id = d.id
            LEFT JOIN principal e ON b.principal_id = e.id
            LEFT JOIN personal_bank f ON b.id = f.personal_id
            ORDER BY FIELD(casenum
            <foreach collection="list" index="index" item="item" open="," separator="," close=")">
                #{item}
            </foreach>
    </select>

    <select id="findFollowupRecord" parameterType="cn.fintecher.pangolin.report.model.ExportFollowRecordParams" resultMap="caseInfoResultMap">
        SELECT * FROM case_info a
        LEFT JOIN case_info b ON a.case_number = b.case_number
        LEFT JOIN personal c ON b.personal_id = c.id
        LEFT JOIN product d ON b.product_id = d.id
        LEFT JOIN principal e ON b.principal_id = e.id
        LEFT JOIN area_code f ON a.area_id = f.id
        LEFT JOIN case_followup_record h ON a.case_number = h.case_number
        WHERE 1=1
        <if test="personalName != null">
            AND c.name = #{personalName}
        </if>
        <if test="provinceId != null">
            AND f.id IN (SELECT g.id FROM area_code g WHERE g.parent_id = #{provinceId})
        </if>
    </select>

    <resultMap id="caseInfoResultMap" type="cn.fintecher.pangolin.report.model.ExcportResultModel">
        <association property="personalInfo" column="personal_id" select="selectPersonal"></association>
        <association property="areaCode" column="area_id" select="selectArea"></association>
        <collection property="caseFollowupRecords" column="case_number"
                    ofType="cn.fintecher.pangolin.entity.CaseFollowupRecord" select="selectCaseFollowupRecord">

        </collection>
    </resultMap>

    <select id="selectPersonal" parameterType="string" resultType="cn.fintecher.pangolin.entity.Personal">
        SELECT * FROM personal WHERE id = #{personal_id}
    </select>

    <select id="selectArea" resultType="cn.fintecher.pangolin.entity.AreaCode">
        SELECT * FROM area_code WHERE id = #{area_id}
    </select>

    <select id="selectCaseFollowupRecord" resultType="cn.fintecher.pangolin.entity.CaseFollowupRecord">
        SELECT * FROM case_followup_record WHERE case_number = #{case_number} AND collection_way != 0
    </select>

</mapper>