<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.fintecher.pangolin.report.mapper.QueryFollowupMapper">

    <!--获取部门下所有用户-->
    <select id="getExportFollowModel" parameterType="java.util.List"  resultType="cn.fintecher.pangolin.report.model.ExportFollowupParams">
    SELECT a.case_number AS casenum,b.batch_number AS batchNum,e.`name` AS principalName,a.operator_time AS followTime,a.type AS followType,c.`name` AS personName,c.id_card AS idCard,a.target AS target,a.target_name AS targetName,a.contact_phone AS contactPhone,a.detail AS detail,a.collection_location AS collectionLocation,a.collection_feedback AS collectionFeedback,a.content AS content,c.number AS personNumber,f.account_number AS accountNumber,b.hand_number AS handNumber
     FROM (
        SELECT
            *
        FROM
        case_followup_record
             WHERE case_number IN
            <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
             AND collection_way != 0
            <if test="company != null and company != ''">
                AND company_code = #{company}
            </if>
            ) AS a
            LEFT JOIN case_info b ON a.case_number = b.case_number
            LEFT JOIN personal c ON b.personal_id = c.id
            LEFT JOIN product d ON b.product_id = d.id
            LEFT JOIN principal e ON b.principal_id = e.id
            LEFT JOIN personal_bank f ON b.id = f.personal_id
            ORDER BY FIELD(casenum
            <foreach collection="list" index="index" item="item" open="," separator="," close=")">
                #{item}
            </foreach>
    </select>

    <select id="findFollowupRecord" parameterType="cn.fintecher.pangolin.report.model.ExportFollowRecordParams" resultMap="caseInfoResultMap">
        SELECT a.id,a.case_number,a.batch_number,a.hand_number,a.personal_id,a.product_id,a.principal_id,a.area_id FROM case_info a
        LEFT JOIN personal c ON a.personal_id = c.id
        LEFT JOIN product d ON a.product_id = d.id
        LEFT JOIN principal e ON a.principal_id = e.id
        LEFT JOIN area_code f ON a.area_id = f.id
        LEFT JOIN department i ON a.depart_id = i.id
        WHERE 1=1
        <if test="companyCode != null">
            AND a.company_code = #{companyCode}
        </if>
        <if test="caseNumberList != null">
            AND a.case_number IN
            <foreach collection="caseNumberList" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="personalName != null">
            AND c.name = #{personalName}
        </if>
        <if test="phone != null">
            AND c.mobile_no = #{phone}
        </if>
        <if test="provinceId != null">
            AND f.id IN (SELECT g.id FROM area_code g WHERE g.parent_id = #{provinceId})
        </if>
        <if test="cityId != null">
            AND f.id = #{cityId}
        </if>
        <if test="batchNumber !=null">
            AND a.batch_number = #{batchNumber}
        </if>
        <if test="payStatus != null">
            AND a.pay_status = #{payStatus}
        </if>
        <if test="overDayStart != null">
            AND a.overdue_days &gt; #{overDayStart}
        </if>
        <if test="overDayEnd !=null">
            AND a.overdue_days &lt; #{overDayEnd}
        </if>
        <if test="overDueAmountStart != null">
            AND a.overdue_amount &gt; #{overDueAmountStart}
        </if>
        <if test="overDueAmountEnd != null">
            AND a.overdue_amount &lt; #{overDueAmountEnd}
        </if>
        <if test="handNumberStart != null">
            AND a.hand_number &gt; #{handNumberStart}
        </if>
        <if test="handNumberEnd != null">
            AND a.hand_number &lt; #{handNumberEnd}
        </if>
        <if test="commissionRateStart != null">
            AND  a.commission_rate &gt; #{commissionRateStart}
        </if>
        <if test="commissionRateEnd != null">
            AND  a.commission_rate &lt; #{commissionRateEnd}
        </if>
        <if test="collectionStatus != null">
            AND a.collection_status = #{collectionStatus}
        </if>
        <if test="principalName != null">
            AND e.name = #{principalName}
        </if>
        <if test="assistFlag != null">
            AND a.assist_flag = #{assistFlag}
        </if>
        <if test="followupBack != null">
            AND a.followup_back = #{followupBack}
        </if>
        <if test="assistWay != null">
            AND a.assist_way = #{assistWay}
        </if>
        <if test="collectionType != null">
            AND a.collection_type = #{collectionType}
        </if>
        <if test="departmentCode != null">
            AND i.code LIKE concat(#{departmentCode},'%')
        </if>
    </select>

    <resultMap id="caseInfoResultMap" type="cn.fintecher.pangolin.report.model.ExcportResultModel">
        <id column="id" property="id"/>
        <result column="case_number" property="caseNumber"/>
        <result column="batch_number" property="batchNumber"/>
        <result column="hand_number" property="handNumber"/>
        <association property="personalInfo" column="personal_id" select="selectPersonal"></association>
        <association property="areaCode" column="area_id" select="selectArea"></association>
        <association property="principal" column="principal_id" select="selectPrincipal"></association>
        <collection property="caseFollowupRecords" column="case_number" ofType="cn.fintecher.pangolin.entity.CaseFollowupRecord" select="selectCaseFollowupRecord"></collection>
    </resultMap>

    <select id="selectPersonal" parameterType="string" resultMap="personalResultMap">
        SELECT id,name,id_card,number FROM personal WHERE id = #{personal_id}
    </select>

    <resultMap id="personalResultMap" type="cn.fintecher.pangolin.entity.Personal">
        <id column="id" property="id"></id>
        <result column="name" property="name"></result>
        <result column="id_card" property="idCard"/>
        <result column="number" property="number"/>
        <collection property="personalBankInfos" column="id" ofType="cn.fintecher.pangolin.entity.PersonalBank" select="selectPersonalBank"></collection>
    </resultMap>

    <select id="selectPersonalBank" resultMap="personalBankMap">
        SELECT id,account_number FROM personal_bank WHERE personal_id = #{id}
    </select>

    <resultMap id="personalBankMap" type="cn.fintecher.pangolin.entity.PersonalBank">
        <id column="id" property="id"/>
        <result column="account_number" property="accountNumber"/>
    </resultMap>

    <select id="selectArea" resultType="cn.fintecher.pangolin.entity.AreaCode">
        SELECT * FROM area_code WHERE id = #{area_id}
    </select>

    <select id="selectCaseFollowupRecord" resultMap="caseFollowupRecord">
        SELECT id,target,target_name,type,contact_phone,detail,collection_location,collection_feedback,content,operator_time FROM case_followup_record WHERE case_number = #{case_number} AND collection_way != 0
    </select>

    <resultMap id="caseFollowupRecord" type="cn.fintecher.pangolin.entity.CaseFollowupRecord">
        <id column="id" property="id"/>
        <result column="target" property="target"/>
        <result column="target_name" property="targetName"/>
        <result column="type" property="type"/>
        <result column="contact_phone" property="contactPhone"/>
        <result column="detail" property="detail"/>
        <result column="collection_location" property="collectionLocation"/>
        <result column="collection_feedback" property="collectionFeedback"/>
        <result column="content" property="content"/>
        <result column="operator_time" property="operatorTime"/>
    </resultMap>

    <select id="selectPrincipal" resultMap="principalMap">
        select id,name from principal where id = #{principal_id}
    </select>

    <resultMap id="principalMap" type="cn.fintecher.pangolin.entity.Principal">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
    </resultMap>

</mapper>